@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic)
	;

body {
	color: #797979;
	background: #f1f2f7;
	font-family: 'Open Sans', sans-serif;
	padding: 0px !important;
	margin: 0px !important;
	font-size: 13px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

ul li {
	list-style: none;
}

a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

::selection {
	background: #FF6C60;
	color: #fff;
}

::-moz-selection {
	background: #FF6C60;
	color: #fff;
}

#container {
	width: 100%;
	height: 100%;
}
/*main content*/
#main-content {
	margin-left: 210px;
}

.header, .footer {
	min-height: 60px;
	padding: 0 15px;
}

/*.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    }*/
.white-bg {
	background: #fff;
	border-bottom: 1px solid #f1f2f7;
}

.wrapper {
	display: inline-block;
	width: 100%;
}

a.logo {
	font-size: 21px;
	color: #2e2e2e;
	float: left;
	line-height: 80px;
	text-transform: uppercase;
}

a.logo:hover, a.logo:focus {
	text-decoration: none;
	outline: none;
}

a.logo p {
	color: #FF6C60;
	display: inline-block;
}
/*notification*/
#top_menu .nav>li, ul.top-menu>li {
	float: left;
}

.notify-row {
	float: left;
	margin-top: 15px;
	margin-left: 92px;
}

.notify-row .notification span.label {
	display: inline-block;
	height: 18px;
	width: 20px;
	padding: 5px;
}

.notify-row .badge {
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 100;
}

.dropdown-menu.extended {
	max-width: 300px !important;
	min-width: 160px !important;
	top: 42px;
	width: 235px !important;
	padding: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
	border: none !important;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.dropdown-menu.extended li p {
	background-color: #F1F2F7;
	color: #666666;
	margin: 0;
	padding: 10px;
	border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
}

.dropdown-menu.extended li p.green {
	background-color: #a9d86e;
	color: #fff;
}

.dropdown-menu.extended li p.red {
	background-color: #ff6c60;
	color: #fff;
}

.dropdown-menu.extended li p.yellow {
	background-color: #fcb322;
	color: #fff;
}

.dropdown-menu.extended li a {
	border-bottom: 1px solid #EBEBEB !important;
	font-size: 12px;
	list-style: none;
}

.dropdown-menu.extended li a {
	padding: 15px 10px !important;
	width: 100%;
	display: inline-block;
}

.dropdown-menu.extended li a:hover {
	background-color: #F7F8F9 !important;
	color: #2E2E2E;
}

.dropdown-menu.tasks-bar .task-info .desc {
	font-size: 13px;
	font-weight: normal;
}

.dropdown-menu.tasks-bar .task-info .percent {
	display: inline-block;
	float: right;
	font-size: 13px;
	font-weight: 600;
	padding-left: 10px;
	margin-top: -4px;
}

.dropdown-menu.extended .progress {
	margin-bottom: 0 !important;
	height: 10px;
}

.dropdown-menu.inbox li a .photo img {
	border-radius: 2px 2px 2px 2px;
	float: left;
	height: 40px;
	margin-right: 4px;
	width: 40px;
}

.dropdown-menu.inbox li a .subject {
	display: block;
}

.dropdown-menu.inbox li a .subject .from {
	font-size: 12px;
	font-weight: 600;
}

.dropdown-menu.inbox li a .subject .time {
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	right: 5px;
}

.dropdown-menu.inbox li a .message {
	display: block !important;
	font-size: 11px;
}

.top-nav ul.top-menu>li .dropdown-menu.logout {
	width: 268px !important;
}

.top-nav li.dropdown .dropdown-menu {
	float: right;
	right: 0;
	left: auto;
}

.dropdown-menu.extended.logout>li {
	float: left;
	text-align: center;
	width: 33.3%;
}

.dropdown-menu.extended.logout>li:last-child {
	float: left;
	text-align: center;
	width: 100%;
	background: #a9d96c;
	border-radius: 0 0 3px 3px;
}

.dropdown-menu.extended.logout>li:last-child>a, .dropdown-menu.extended.logout>li:last-child>a:hover
	{
	color: #fff;
	border-bottom: none !important;
	text-transform: uppercase;
}

.dropdown-menu.extended.logout>li:last-child>a:hover>i {
	color: #fff;
}

.dropdown-menu.extended.logout>li>a {
	color: #a4abbb;
	border-bottom: none !important;
}

.full-width .dropdown-menu.extended.logout>li>a:hover {
	background: none !important;
	color: #50c8ea !important;
}

.dropdown-menu.extended.logout>li>a:hover {
	background: none !important;
}

.dropdown-menu.extended.logout>li>a:hover i {
	color: #50c8ea;
}

.dropdown-menu.extended.logout>li>a i {
	font-size: 17px;
}

.dropdown-menu.extended.logout>li>a>i {
	display: block;
}

.top-nav .username {
	font-size: 13px;
	color: #555555;
}

.top-nav ul.top-menu>li>a {
	border: 1px solid #eeeeee;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 6px;
	background: none;
	margin-right: 0;
}

.top-nav ul.top-menu>li {
	margin-left: 10px;
}

.top-nav ul.top-menu>li>a:hover, .top-nav ul.top-menu>li>a:focus {
	border: 1px solid #F1F2F7;
	background: #F1F2F7;
}

.top-nav .dropdown-menu.extended.logout {
	top: 50px;
}

.top-nav .nav .caret {
	border-bottom-color: #A4AABA;
	border-top-color: #A4AABA;
}

.top-nav ul.top-menu>li>a:hover .caret {
	border-bottom-color: #000;
	border-top-color: #000;
}

.log-arrow-up {
	background: url("../images/arrow-up.png") no-repeat;
	width: 20px;
	height: 11px;
	position: absolute;
	right: 20px;
	top: -10px;
}

.notify-arrow {
	border-style: solid;
	border-width: 0 9px 9px;
	height: 0;
	margin-top: 0;
	opacity: 0;
	position: absolute;
	left: 7px;
	top: -18px;
	transition: all 0.25s ease 0s;
	width: 0;
	z-index: 10;
	margin-top: 10px;
	opacity: 1;
}

.notify-arrow-yellow {
	border-color: transparent transparent #FCB322;
	border-bottom-color: #FCB322 !important;
	border-top-color: #FCB322 !important;
}

.notify-arrow-red {
	border-color: transparent transparent #ff6c60;
	border-bottom-color: #ff6c60 !important;
	border-top-color: #ff6c60 !important;
}

.notify-arrow-green {
	border-color: transparent transparent #a9d86e;
	border-bottom-color: #a9d86e !important;
	border-top-color: #a9d86e !important;
}

/*search*/
.search {
	margin-top: 6px;
	width: 20px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	border: 1px solid #fff;
	box-shadow: none;
	background: url("../images/search-icon.png") no-repeat 10px 8px;
	padding: 0 5px 0 35px;
	color: #000;
}

.search:focus {
	margin-top: 5px;
	width: 180px;
	border: 1px solid #eaeaea;
	box-shadow: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #c8c8c8;
	font-weight: 300;
}

/*menu*/
.menu {
	max-width: 300px;
	width: 100%;
	height: 100%;
	background: #2a3542;
	position: fixed;
	overflow-y: auto;
	transform: translateX(-100%);
	transition: all 0.4s ease-in-out;
	z-index: 99;
	top: 80px;
}

.dcjq-current-parent a {
	color: #aeb2b7;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 10px 0 10px 10px;
	font-size: 12px;
	outline: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.sub_menu {
	display: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.active-menu {
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/*.dcjq-icon {
    height: 17px;
    width: 17px;
    display: inline-block;
    background: url(../images/nav-expand.png) no-repeat top;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    }*/
.sidebar-toggle-box .fa-bars {
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
}

i.fa-book:before {
	padding: 0 10px;
}

i.fa-book-open:before {
	padding: 0 10px;
}

.accordion {
	padding-left: 20px;
}

.sidebar-toggle-box {
	position: fixed;
	display: inline-block;
	top: 50%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 99;
}

.menu-active {
	transform: translateX(0);
}

.sidebar-toggle-box img {
	animation: crescendo 0.5s alternate infinite ease-in;
	width: 40px;
	height: auto;
	position: fixed;
}

.sidebar-toggle-active {
	transform: translateX(300px);
}

@
keyframes crescendo { 0% {
	transform: scale(.8);
}

100%
{
transform
:
 
scale
(
.9
);
}
}
::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 20px;
}

::-webkit-scrollbar-track {
	background: #ddd;
	border-radius: 20px;
}

.header {
	height: 80px;
	position: fixed;
	width: 100%;
	z-index: 99;
}

.logo img {
	width: 40px;
	position: absolute;
	top: 10px;
}

.top-menu {
	margin-top: 20px;
}

.table-book {
	margin: 20px 50px;
}

/*addbook*/
.form-group {
	width: 300px;
	display: inline-block;
	padding: 10px 20px;
}

.img-product img {
	max-width: 200px;
	height: auto;
	margin: 40px;
}

.button-function {
	text-align: center;
}

/*------------------------------ end 28/11/18*/

/*------------------------------------------------------------------ Edit 30/11/18  */

/*dashboard*/
.dash-tile-ocean {
	background-color: #3991db;
}

.dash-tile {
	min-height: 190px;
	margin: 0 0 20px;
	padding: 0 20px;
}

.dash-tile-ocean .dash-tile-header {
	margin: 0 -20px;
	padding: 0 4px 0 7px;
	min-height: 38px;
	line-height: 45px;
	font-weight: 700;
	border-bottom: 2px solid #ddd;
	background-color: #eee;
}

.dash-tile-icon {
	float: left;
	padding: 40px 0 0;
	font-size: 48px;
	text-align: left;
}

.dash-tile-icon, .dash-tile-text {
	line-height: normal;
	color: #fff;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dash-tile-text {
	float: right;
	padding: 48px 0 0;
	font-size: 36px;
	text-align: right;
}

.dash-tile-leaf {
	background-color: #c2db39;
}

.dash-tile-ocean .dash-tile-header {
	border-bottom: 2px solid #f9f9f9;
	background-color: #eee;
	opacity: .75;
	filter: alpha(opacity = 75);
}

.dash-tile-options {
	float: right;
	height: 38px;
	line-height: 41px;
}

.top-db {
	overflow-x: hidden;
}

.info-dashboard {
	margin: 50px 0;
}

.title-db {
	text-transform: uppercase;
	text-align: center;
	margin: 10px auto;
}

.title-db h2 {
	margin: 0;
}

/*chart*/

/* Resets */
.graph-container, .graph-container div, .graph-container a,
	.graph-container span {
	margin: 0;
	padding: 0;
}

/* Gradinet and Rounded Corners */
.graph-container, #tooltip, .graph-info a {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #f9f9f9));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f9f9f9 100%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*  Graph Container */
.graph-container {
	position: relative;
	width: 100%;
	height: 300px;
	padding: 20px;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
}

.graph-container>div {
	position: absolute;
	width: inherit;
	height: inherit;
	top: 10px;
	left: 0;
}

.graph-info {
	width: 100%;
	margin-bottom: 10px;
}

/* Text Styles */
#tooltip, .graph-info a {
	height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	color: #646464;
}

.tickLabel {
	font-weight: bold;
	font-size: 12px;
	color: #666;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Tooltip */
#tooltip {
	position: absolute;
	display: none;
	padding: 5px 10px;
	border: 1px solid #e1e1e1;
}

/* Links */
.graph-info a {
	position: relative;
	display: inline-block;
	float: left;
	padding: 0px 10px 0px 31px;
	height: 35px;
	line-height: 35px;
	margin-right: 10px;
	text-decoration: none;
	cursor: default;
}

/* Color Circle for Links */
.graph-info a:before {
	position: absolute;
	display: block;
	content: '';
	width: 8px;
	height: 8px;
	top: 13px;
	left: 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Colors For each Link */
.graph-info .visitors {
	border-bottom: 2px solid #71c73e;
}

.graph-info .returning {
	border-bottom: 2px solid #77b7c5;
}

.graph-info .visitors:before {
	background: #71c73e;
}

.graph-info .returning:before {
	background: #77b7c5;
}

/* Lines & Bars Buttons */
#lines, #bars {
	width: 34px;
	height: 32px;
	padding: 0;
	margin-right: 0;
	margin-left: 10px;
	border-bottom: 2px solid #71c73e;
	float: right;
	cursor: pointer;
}

#lines.active, #bars.active {
	background: #82d344;
	background: -moz-linear-gradient(top, #82d344 0%, #71c73e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82d344),
		color-stop(100%, #71c73e));
	background: -webkit-linear-gradient(top, #82d344 0%, #71c73e 100%);
	background: -o-linear-gradient(top, #82d344 0%, #71c73e 100%);
	background: -ms-linear-gradient(top, #82d344 0%, #71c73e 100%);
	background: linear-gradient(to bottom, #82d344 0%, #71c73e 100%);
}

#lines span, #bars span {
	display: block;
	width: 34px;
	height: 32px;
	background: url('../images/lines.png') no-repeat 9px 12px;
}

#bars span {
	background: url('../images/bars.png') no-repeat center 10px;
}

#lines.active span {
	background-image: url('../images/lines_active.png');
}

#bars.active span {
	background-image: url('../images/bars_active.png');
}

/* Hide the First and Last Y Label */
.yAxis .tickLabel:first-child, .yAxis .tickLabel:last-child {
	display: none;
}

/* Clear Floats */
.graph-info:before, .graph-info:after, .graph-container:before,
	.graph-container:after {
	content: '';
	display: block;
	clear: both;
}

/*footer*/
footer {
	position: relative;
	width: 100%;
	height: 60px;
	background: #2a3542;
	text-align: center;
	line-height: 60px;
	margin-top: 40px;
}

footer span {
	color: white;
}

/*--------------------------------------------------------------edit 4/12/18*/

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
	font-family: Lato-Regular;
	src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
	font-family: Lato-Bold;
	src: url('../fonts/Lato/Lato-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

p {
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/* ------------------------------------ */
input {
	display: block;
	outline: none;
	border: none !important;
}

textarea {
	display: block;
	outline: none;
}

textarea:focus, input:focus {
	border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
	position: relative;
	overflow: hidden;
}

.table100 .ps__rail-y {
	width: 9px;
	background-color: transparent;
	opacity: 1 !important;
	right: 5px;
}

.table100 .ps__rail-y::before {
	content: "";
	display: block;
	position: absolute;
	background-color: #ebebeb;
	border-radius: 5px;
	width: 100%;
	height: calc(100% - 30px);
	left: 0;
	top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
	width: 100%;
	right: 0;
	background-color: transparent;
	opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
	content: "";
	display: block;
	position: absolute;
	background-color: #cccccc;
	border-radius: 5px;
	width: 100%;
	height: calc(100% - 30px);
	left: 0;
	top: 15px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.limiter {
	width: 1366px;
	margin: 0 auto;
	position: relative;
	top: 20px;
}

.container-table100 {
	width: 100%;
	min-height: 100vh;
	background: transparent;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	/* padding: 33px 30px;*/
}

.wrap-table100 {
	width: 1170px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
	background-color: #fff;
}

table {
	width: 100%;
}

th, td {
	font-weight: unset;
	padding-right: 10px;
}

.column1 {
	width: 33%;
	padding-left: 40px;
}

.column2 {
	width: 13%;
}

.column3 {
	width: 22%;
}

.column4 {
	width: 19%;
}

.column5 {
	width: 13%;
}

.table100-head th {
	padding-top: 18px;
	padding-bottom: 18px;
}

.table100-body td {
	padding-top: 16px;
	padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
	position: relative;
	padding-top: 60px;
}

.table100-head {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.table100-body {
	max-height: 585px;
	overflow: auto;
}

/*==================================================================
[ Ver1 ]*/
.table100.ver1 th {
	font-family: Lato-Bold;
	font-size: 18px;
	color: #fff;
	line-height: 1.4;
	background-color: #6c7ae0;
}

.table100.ver1 td {
	font-family: Lato-Regular;
	font-size: 15px;
	color: #808080;
	line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
	background-color: #f8f6ff;
}

/*---------------------------------------------*/
.table100.ver1 {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
	right: 5px;
}

.table100.ver1 .ps__rail-y::before {
	background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
	background-color: #cccccc;
}

/*==================================================================
[ Ver2 ]*/
.table100.ver2 .table100-head {
	box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.table100.ver2 th {
	font-family: Lato-Bold;
	font-size: 18px;
	color: #fa4251;
	line-height: 1.4;
	background-color: transparent;
}

.table100.ver2 td {
	font-family: Lato-Regular;
	font-size: 15px;
	color: #808080;
	line-height: 1.4;
}

.table100.ver2 .table100-body tr {
	border-bottom: 1px solid #f2f2f2;
}

/*---------------------------------------------*/
.table100.ver2 {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver2 .ps__rail-y {
	right: 5px;
}

.table100.ver2 .ps__rail-y::before {
	background-color: #ebebeb;
}

.table100.ver2 .ps__rail-y .ps__thumb-y::before {
	background-color: #cccccc;
}

/*==================================================================
[ Ver3 ]*/
.table100.ver3 {
	background-color: #393939;
}

.table100.ver3 th {
	font-family: Lato-Bold;
	font-size: 15px;
	color: #00ad5f;
	line-height: 1.4;
	text-transform: uppercase;
	background-color: #393939;
}

.table100.ver3 td {
	font-family: Lato-Regular;
	font-size: 15px;
	color: #808080;
	line-height: 1.4;
	background-color: #222222;
}

/*---------------------------------------------*/
.table100.ver3 {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver3 .ps__rail-y {
	right: 5px;
}

.table100.ver3 .ps__rail-y::before {
	background-color: #4e4e4e;
}

.table100.ver3 .ps__rail-y .ps__thumb-y::before {
	background-color: #00ad5f;
}

/*==================================================================
[ Ver4 ]*/
.table100.ver4 {
	margin-right: -20px;
}

.table100.ver4 .table100-head {
	padding-right: 20px;
}

.table100.ver4 th {
	font-family: Lato-Bold;
	font-size: 18px;
	color: #4272d7;
	line-height: 1.4;
	background-color: transparent;
	border-bottom: 2px solid #f2f2f2;
}

.table100.ver4 .column1 {
	padding-left: 7px;
}

.table100.ver4 td {
	font-family: Lato-Regular;
	font-size: 15px;
	color: #808080;
	line-height: 1.4;
}

.table100.ver4 .table100-body tr {
	border-bottom: 1px solid #f2f2f2;
}

/*---------------------------------------------*/
.table100.ver4 {
	overflow: hidden;
}

.table100.ver4 .table100-body {
	padding-right: 20px;
}

.table100.ver4 .ps__rail-y {
	right: 0px;
}

.table100.ver4 .ps__rail-y::before {
	background-color: #ebebeb;
}

.table100.ver4 .ps__rail-y .ps__thumb-y::before {
	background-color: #cccccc;
}

/*==================================================================
[ Ver5 ]*/
.table100.ver5 {
	margin-right: -30px;
}

.table100.ver5 .table100-head {
	padding-right: 30px;
}

.table100.ver5 th {
	font-family: Lato-Bold;
	font-size: 14px;
	color: #555555;
	line-height: 1.4;
	text-transform: uppercase;
	background-color: transparent;
}

.table100.ver5 td {
	font-family: Lato-Regular;
	font-size: 15px;
	color: #808080;
	line-height: 1.4;
	background-color: #f7f7f7;
}

.table100.ver5 .table100-body tr {
	overflow: hidden;
	border-bottom: 10px solid #fff;
	border-radius: 10px;
}

.table100.ver5 .table100-body table {
	border-collapse: separate;
	border-spacing: 0 10px;
}

.table100.ver5 .table100-body td {
	border: solid 1px transparent;
	border-style: solid none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.table100.ver5 .table100-body td:first-child {
	border-left-style: solid;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.table100.ver5 .table100-body td:last-child {
	border-right-style: solid;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.table100.ver5 tr:hover td {
	background-color: #ebebeb;
	cursor: pointer;
}

.table100.ver5 .table100-head th {
	padding-top: 25px;
	padding-bottom: 25px;
}

/*---------------------------------------------*/
.table100.ver5 {
	overflow: hidden;
}

.table100.ver5 .table100-body {
	padding-right: 30px;
}

.table100.ver5 .ps__rail-y {
	right: 0px;
}

.table100.ver5 .ps__rail-y::before {
	background-color: #ebebeb;
}

.table100.ver5 .ps__rail-y .ps__thumb-y::before {
	background-color: #cccccc;
}

/*---------------------------------------------------------------------------css search*/
::selection {
	background: #212129;
}

.search-wrapper {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.search-wrapper.active {
	
}

.search-wrapper .input-holder {
	height: 40px;
	width: 70px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0);
	border-radius: 6px;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder {
	width: 450px;
	border-radius: 50px;
	background: rgba(0, 0, 0, 0.5);
	transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
	width: 100%;
	height: 50px;
	padding: 0px 70px 0 20px;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-family: "Open Sans", Arial, Verdana;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #FFF;
	transform: translate(0, 60px);
	transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	transition-delay: 0.3s;
}

.search-wrapper.active .input-holder .search-input {
	opacity: 1;
	transform: translate(0, 10px);
}

.search-wrapper .input-holder .search-icon {
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 6px;
	background: #FFF;
	padding: 0px;
	outline: none;
	position: relative;
	z-index: 2;
	float: right;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder .search-icon {
	width: 30px;
	height: 30px;
	margin: 5px;
	border-radius: 30px;
}

.search-wrapper .input-holder .search-icon span {
	width: 22px;
	height: 22px;
	top: 3px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	transform: rotate(45deg);
	transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}

.search-wrapper.active .input-holder .search-icon span {
	transform: rotate(-45deg);
	top: 0px;
	left: 5px
}

.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after
	{
	position: absolute;
	content: '';
}

.search-wrapper .input-holder .search-icon span::before {
	width: 2px;
	height: 7px;
	left: 5px;
	top: 10px;
	border-radius: 2px;
	background: #FE5F55;
}

.search-wrapper .input-holder .search-icon span::after {
	width: 10px;
	height: 10px;
	left: 1px;
	top: 0px;
	border-radius: 16px;
	border: 2px solid #FE5F55;
}

.search-wrapper .close {
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 20px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transform: rotate(-180deg);
	transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
	transition-delay: 0.2s;
}

.search-wrapper.active .close {
	right: -50px;
	transform: rotate(45deg);
	transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	transition-delay: 0.5s;
}

.search-wrapper .close::before, .search-wrapper .close::after {
	position: absolute;
	content: '';
	background: #FE5F55;
	border-radius: 2px;
}

.search-wrapper .close::before {
	width: 5px;
	height: 25px;
	left: 10px;
	top: 0px;
}

.search-wrapper .close::after {
	width: 25px;
	height: 5px;
	left: 0px;
	top: 10px;
}

.search-tb {
	position: relative;
	top: 30px;
	float: right;
}

.btn-add {
	position: relative;
	top: 20px;
}

.nav-icon {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	padding-left: 35px;
	font-size: 1.5em;
}

.nav-icon:hover {
	cursor: pointer;
}

.parent-nav {
	font-size: 16px !important;
	padding-left: 0px !important;
}

.sidebar-toggle-box {
	position: fixed;
	display: inline-block;
	top: 50%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 99;
	left: -30px;
	border-radius: 50%;
}

.dcjq-current-parent:hover {
	cursor: pointer;
}

.form-control {
	border: 1px solid #ccc !important;
}

.ct-checkbox {
	display: flex;
	line-height: 21px;
	float: left;
	margin-right: 20px;
}

.ct-checkbox input, label:hover {
	cursor: pointer;
}

.icon-action:hover {
	cursor: pointer;
}