<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LIBRARY</title>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="resources/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <header>
            <section>
                <div class="header white-bg">

                    <!--logo start-->
                    <a href="index.html" class="logo">
						LIBRA<span>RY<span><a class="logo" href="http://www.animatedimages.org/cat-books-53.htm"><img src="http://www.animatedimages.org/data/media/53/animated-book-image-0019.gif" border="0" alt="animated-book-image-0019" /></a>
                    </a>
                    <!--logo end-->
                    <!-- <div id="btn-menu" class="sidebar-toggle-box">
						<a href="#"></a> <i class="fas fa-book"></i></a>
					</div> -->
                    <div class="top-nav ">
                        <!--search & user info start-->
                        <ul class="nav pull-right top-menu">
                            <li>
                                <input type="text" class="form-control search" placeholder="Search">
                            </li>
                            <!-- user login dropdown start-->
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <img alt="" src="resources/images/avatar1_small.jpg">
                                    <span class="username">Jhon Doue</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu extended logout">
                                    <div class="log-arrow-up"></div>
                                    <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                                    <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                                    <li><a href="#"><i class="fas fa-bell"></i>Notification</a></li>
                                    <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
                                </ul>
                            </li>
                            <!--  <li class="sb-toggle-right">
		                        <i class="fa  fa-align-right"></i>
		                    </li> -->
                            <!-- user login dropdown end -->
                        </ul>
                        <!--search & user info end-->
                    </div>
                </div>
            </section>
        </header>
        <main class="main-page">
            <div id="btn-menu" class="sidebar-toggle-box"><img src="resources/images/book-flat.png" alt=""></div>
            <div id="menu-toggle" class="menu">
                <ul class="accordion" id="accordion-1">
                    <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book"></i>Products</a>
                        <ul class="sub-menu">
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                        </ul>
                    </li>
                    <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book"></i>Products</a>
                        <ul class="sub-menu">
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                        </ul>
                    </li>
                    <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book"></i>Products</a>
                        <ul class="sub-menu">
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                        </ul>
                    </li>
                    <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book"></i>Products</a>
                        <ul class="sub-menu">
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                            <li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <aside>
                <div class="container">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="input-book">
                            <div class="form-group">
                                <label for="usr">Name:</label>
                                <input type="text" class="form-control" id="usr">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="img-product">
                            <img src="resources/images/1.jpg" alt="">
                        </div>
                    </div>
                </div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 button-function">
					<button class="btn btn-primary">Thêm</button>
					<button class="btn btn-success">Thêm từ file excel</button>
					<button class="btn btn-warning">Hủy</button>
				</div>
            </aside>
        </main>
    </div>
    <script type='text/javascript' src="resources/js/jquery.js"></script>
    <script type='text/javascript' src="resources/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="resources/js/custom.js"></script>
    <script type='text/javascript' src='resources/js/jquery.cookie.js'></script>
    <script type='text/javascript' src='resources/js/jquery.hoverIntent.minified.js'></script>
    <script type='text/javascript' src='resources/js/jquery.dcjqaccordion.2.7.min.js'></script>
</body>

</html>