<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>LIBRARY</title>
	<link rel="stylesheet" href="resources/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="resources/css/style.css" rel="stylesheet">
	<link rel="icon" href="resources/images/img-4.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

</head>

<body>
	<div class="wrapper">
		<header>
			<section>
				<div class="header white-bg">
					<!--logo start-->
					<a href="index.html" class="logo">LIBRA<p>RY</p></a>
					<a class="logo" href="http://www.animatedimages.org/cat-books-53.htm"><img src="http://www.animatedimages.org/data/media/53/animated-book-image-0019.gif" border="0" alt="animated-book-image-0019" /></a>
					<div class="top-nav ">
						<!--search & user info start-->
						<ul class="nav pull-right top-menu">
							<li>
								<input type="text" class="form-control search" placeholder="Search">
							</li>
							<!-- user login dropdown start-->
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">
									<img alt="" src="resources/images/avatar1_small.jpg">
									<span class="username">Jhon Doue</span>
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu extended logout">
									<div class="log-arrow-up"></div>
									<li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
									<li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
									<li><a href="#"><i class="fas fa-bell"></i>Notification</a></li>
									<li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
								</ul>
							</li>
		                   <!--  <li class="sb-toggle-right">
		                        <i class="fa  fa-align-right"></i>
		                    </li> -->
		                    <!-- user login dropdown end -->
		                </ul>
		                <!--search & user info end-->
		            </div>
		        </div>
		    </section>
		</header>
		<div class="content">
			<section class="menu-vertical">
				<div id="btn-menu" class="sidebar-toggle-box"><img src="resources/images/book-flat.png" alt=""></div>
				<div id="menu-toggle" class="menu">
					<ul class="accordion" id="accordion-1">
						<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book"></i>Products</a>
							<ul class="sub-menu">
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
							</ul>
						</li>
						<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book"></i>Products</a>
							<ul class="sub-menu">
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
							</ul>
						</li>
						<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book"></i>Products</a>
							<ul class="sub-menu">
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
							</ul>
						</li>
						<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book"></i>Products</a>
							<ul class="sub-menu">
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
								<li class="dcjq-current-parent"><a href="#"><i class="fas fa-book-open"></i>Product 1</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</section>
		</div>
		<main>

			<!-- ----------------- edit 30/11/28 -------------------------------------- -->

			<section class="top-db">
				<div class="container-fluid">
					<div class="row">
						<div class="title-db">
							<h2>Dashboard</h2>
						</div>
						<img class="banner-dashboard" src="resources/images/banner-1.jpg" alt="">
					</div>
				</div>
			</section>	
			<!-- <section class="info-dashboard">
				<div class="container">
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<div class="dash-tile dash-tile-ocean clearfix animation-pullDown">
								<div class="dash-tile-header">
									<div class="dash-tile-options">
										<div class="btn-group">
											<a href="#" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Manage Users"><i class="fa fa-cog"></i></a>
											<a href="#" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Statistics"><i class="fa fa-bar-chart-o"></i></a>
										</div>
									</div>
									Tổng số sách
								</div>
								<div class="dash-tile-icon"><i class="fa fa-users"></i></div>
								<div class="dash-tile-text">265k</div>
							</div>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<div class="dash-tile dash-tile-ocean clearfix animation-pullDown">
								<div class="dash-tile-header">
									<div class="dash-tile-options">
										<div class="btn-group">
											<a href="#" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Manage Users"><i class="fa fa-cog"></i></a>
											<a href="#" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Statistics"><i class="fa fa-bar-chart-o"></i></a>
										</div>
									</div>
									Số lần mượn
								</div>
								<div class="dash-tile-icon"><i class="fa fa-users"></i></div>
								<div class="dash-tile-text">265k</div>
							</div>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<div class="dash-tile dash-tile-ocean clearfix animation-pullDown">
								<div class="dash-tile-header">
									<div class="dash-tile-options">
										<div class="btn-group">
											<a href="#" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Manage Users"><i class="fa fa-cog"></i></a>
											<a href="#" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Statistics"><i class="fa fa-bar-chart-o"></i></a>
										</div>
									</div>
									Tổng số người dùng
								</div>
								<div class="dash-tile-icon"><i class="fa fa-users"></i></div>
								<div class="dash-tile-text">265k</div>
							</div>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<div class="dash-tile dash-tile-ocean clearfix animation-pullDown">
								<div class="dash-tile-header">
									<div class="dash-tile-options">
										<div class="btn-group">
											<a href="#" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Manage Users"><i class="fa fa-cog"></i></a>
											<a href="#" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Statistics"><i class="fa fa-bar-chart-o"></i></a>
										</div>
									</div>
									Total Users
								</div>
								<div class="dash-tile-icon"><i class="fa fa-users"></i></div>
								<div class="dash-tile-text">265k</div>
							</div>
						</div>
					</div>
					
				</div>
			</section> -->
	<!-- 		<section class="chart">
				<div class="container">
					<div class="row"> -->
						<!-- Graph HTML -->
						<!-- <div id="graph-wrapper">
							<div class="graph-info">
								<a href="#" class="visitors">Visitors</a>
								<a href="#" class="returning">Returning Visitors</a>

								<a href="#" id="bars"><span></span></a>
								<a href="#" id="lines" class="active"><span></span></a>
							</div>

							<div class="graph-container">
								<div id="graph-lines"></div>
								<div id="graph-bars"></div>
							</div>
						</div> -->
						<!-- end Graph HTML -->
<!-- 					</div>
				</div>
				
			</section> -->
			<!-- ----------------end 30/11/28 ------------------- -->



			<!-- edit 4/12/18  -->
			<section class="box-funtion">
				<div class="container">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn-add">
							<div class="btn btn-success">Thêm mới</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 search-tb">
							<div class="search-wrapper">
							<div class="input-holder">
								<input type="text" class="search-input" placeholder="Type to search" />
								<button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
							</div>
							<span class="close" onclick="searchToggle(this, event);"></span>
							</div>
						</div>
						
					</div>
				</div>
			</section>

			<section class="tb-box">
				<div class="limiter">
					<div class="container-table100">
						<div class="wrap-table100">
							<div class="table100 ver1 m-b-110">
								<div class="table100-head">
									<table>
										<thead>
											<tr class="row100 head">
												<th class="cell100 column1">Class name</th>
												<th class="cell100 column2">Type</th>
												<th class="cell100 column3">Hours</th>
												<th class="cell100 column4">Trainer</th>
												<th class="cell100 column5">Spots</th>
											</tr>
										</thead>
									</table>
								</div>

								<div class="table100-body js-pscroll">
									<table>
										<tbody>
											<tr class="row100 body">
												<td class="cell100 column1">Like a butterfly</td>
												<td class="cell100 column2">Boxing</td>
												<td class="cell100 column3">9:00 AM - 11:00 AM</td>
												<td class="cell100 column4">Aaron Chapman</td>
												<td class="cell100 column5">10</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Mind & Body</td>
												<td class="cell100 column2">Yoga</td>
												<td class="cell100 column3">8:00 AM - 9:00 AM</td>
												<td class="cell100 column4">Adam Stewart</td>
												<td class="cell100 column5">15</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Crit Cardio</td>
												<td class="cell100 column2">Gym</td>
												<td class="cell100 column3">9:00 AM - 10:00 AM</td>
												<td class="cell100 column4">Aaron Chapman</td>
												<td class="cell100 column5">10</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Wheel Pose Full Posture</td>
												<td class="cell100 column2">Yoga</td>
												<td class="cell100 column3">7:00 AM - 8:30 AM</td>
												<td class="cell100 column4">Donna Wilson</td>
												<td class="cell100 column5">15</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Playful Dancer's Flow</td>
												<td class="cell100 column2">Yoga</td>
												<td class="cell100 column3">8:00 AM - 9:00 AM</td>
												<td class="cell100 column4">Donna Wilson</td>
												<td class="cell100 column5">10</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Zumba Dance</td>
												<td class="cell100 column2">Dance</td>
												<td class="cell100 column3">5:00 PM - 7:00 PM</td>
												<td class="cell100 column4">Donna Wilson</td>
												<td class="cell100 column5">20</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Cardio Blast</td>
												<td class="cell100 column2">Gym</td>
												<td class="cell100 column3">5:00 PM - 7:00 PM</td>
												<td class="cell100 column4">Randy Porter</td>
												<td class="cell100 column5">10</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Pilates Reformer</td>
												<td class="cell100 column2">Gym</td>
												<td class="cell100 column3">8:00 AM - 9:00 AM</td>
												<td class="cell100 column4">Randy Porter</td>
												<td class="cell100 column5">10</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Supple Spine and Shoulders</td>
												<td class="cell100 column2">Yoga</td>
												<td class="cell100 column3">6:30 AM - 8:00 AM</td>
												<td class="cell100 column4">Randy Porter</td>
												<td class="cell100 column5">15</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Yoga for Divas</td>
												<td class="cell100 column2">Yoga</td>
												<td class="cell100 column3">9:00 AM - 11:00 AM</td>
												<td class="cell100 column4">Donna Wilson</td>
												<td class="cell100 column5">20</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Virtual Cycle</td>
												<td class="cell100 column2">Gym</td>
												<td class="cell100 column3">8:00 AM - 9:00 AM</td>
												<td class="cell100 column4">Randy Porter</td>
												<td class="cell100 column5">20</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Like a butterfly</td>
												<td class="cell100 column2">Boxing</td>
												<td class="cell100 column3">9:00 AM - 11:00 AM</td>
												<td class="cell100 column4">Aaron Chapman</td>
												<td class="cell100 column5">10</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Mind & Body</td>
												<td class="cell100 column2">Yoga</td>
												<td class="cell100 column3">8:00 AM - 9:00 AM</td>
												<td class="cell100 column4">Adam Stewart</td>
												<td class="cell100 column5">15</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Crit Cardio</td>
												<td class="cell100 column2">Gym</td>
												<td class="cell100 column3">9:00 AM - 10:00 AM</td>
												<td class="cell100 column4">Aaron Chapman</td>
												<td class="cell100 column5">10</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Wheel Pose Full Posture</td>
												<td class="cell100 column2">Yoga</td>
												<td class="cell100 column3">7:00 AM - 8:30 AM</td>
												<td class="cell100 column4">Donna Wilson</td>
												<td class="cell100 column5">15</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Playful Dancer's Flow</td>
												<td class="cell100 column2">Yoga</td>
												<td class="cell100 column3">8:00 AM - 9:00 AM</td>
												<td class="cell100 column4">Donna Wilson</td>
												<td class="cell100 column5">10</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Zumba Dance</td>
												<td class="cell100 column2">Dance</td>
												<td class="cell100 column3">5:00 PM - 7:00 PM</td>
												<td class="cell100 column4">Donna Wilson</td>
												<td class="cell100 column5">20</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Cardio Blast</td>
												<td class="cell100 column2">Gym</td>
												<td class="cell100 column3">5:00 PM - 7:00 PM</td>
												<td class="cell100 column4">Randy Porter</td>
												<td class="cell100 column5">10</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Pilates Reformer</td>
												<td class="cell100 column2">Gym</td>
												<td class="cell100 column3">8:00 AM - 9:00 AM</td>
												<td class="cell100 column4">Randy Porter</td>
												<td class="cell100 column5">10</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Supple Spine and Shoulders</td>
												<td class="cell100 column2">Yoga</td>
												<td class="cell100 column3">6:30 AM - 8:00 AM</td>
												<td class="cell100 column4">Randy Porter</td>
												<td class="cell100 column5">15</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Yoga for Divas</td>
												<td class="cell100 column2">Yoga</td>
												<td class="cell100 column3">9:00 AM - 11:00 AM</td>
												<td class="cell100 column4">Donna Wilson</td>
												<td class="cell100 column5">20</td>
											</tr>

											<tr class="row100 body">
												<td class="cell100 column1">Virtual Cycle</td>
												<td class="cell100 column2">Gym</td>
												<td class="cell100 column3">8:00 AM - 9:00 AM</td>
												<td class="cell100 column4">Randy Porter</td>
												<td class="cell100 column5">20</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			

		</main>
		<footer>
			<div class="container-fluid">
				<div class="row">
					<div class="footer-main">
						<span>Thư viện</span>
					</div>
				</div>
			</div>
			
		</footer>
	</div>

	<script type='text/javascript' src="resources/js/jquery.js"></script>
	<script type='text/javascript' src="resources/js/bootstrap.min.js"></script>
	<script type='text/javascript' src="resources/js/custom.js"></script>
	<script type='text/javascript' src='resources/js/jquery.cookie.js'></script>
	<script type='text/javascript' src='resources/js/jquery.hoverIntent.minified.js'></script>
	<script type='text/javascript' src='resources/js/jquery.dcjqaccordion.2.7.min.js'></script>
	<script src="https://code.highcharts.com/highcharts.src.js"></script>
	<!-- 	<script src="resources/js/chart.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="resources/js/jquery.flot.min.js"></script>

	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>